#events {
    background-color: rgba(191, 191, 191, 0.15);
    padding: 20px;
    margin-top: 20px;
}

#events > div {
    padding-bottom: 5px;
}

#events > div:after {
    content: "";
    display: table;
    clear: both;
}

#events #clear {
    float: right;
}

#events .caption {
    float: left;
    font-weight: bold;
    font-size: 115%;
    line-height: 115%;
    padding-top: 7px;
}

#events ul {
    list-style: none;
    max-height: 100px;
    overflow: auto;
    margin: 0;
}

#events ul li {
    padding: 7px 0;
    border-bottom: 1px solid #000000;
}

#events ul li:last-child {
    border-bottom: none;
}
.btn
{
    border: 1px solid #c0c0c0;
}
.dropdown
{
    padding-top: 23px;
}

/* Text center align of li elements */
.ul 
{
    text-align: center;
    list-style: inside;
}
#agency
{
    padding-top: 25px; 
}

#title
{
    color: #000000;
}

#table-div
{
    padding-top: 25px;
}

#userProfile
{
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
}

@media only screen and (min-width: 1000px)
{
    #title
    {
        padding-top: 20px;
        right: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px)
{
    #title
    {
        left: 50px;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1190px)
{
    #user
    {
        right: 50px
    }
}

@media only screen and (min-width:767px) and (max-width:999px)
{
    #user_label
    {
        display: none; 
    }
}